/*
Your css should be placed here
*/

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

div.wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
