<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Boilerpalte</title>

    <!-- CSS -->
    <link
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to Flask</h1>
      <p>You are running flask {{ version }}.</p>

      <p>
        This is the official boilerplate for
        <a href="https://seminar-informatik-20.gitlab.io/">
          seminar-informatik-20.gitlab.io/
        </a>
      </p>
    </div>
  </body>
</html>
